a {
  text-decoration: none!important;
  transition: 0.3s;
  border-bottom: 1px solid transparent;

  &:hover {
    border-color: #007bff;
  }
}

.kbl-table tbody tr td {
  &:nth-child(5) {
    border-right: 1px solid #e5e5e5;
  }

  &:nth-child(8) {
    border-right: 1px solid #e5e5e5;
  }
}
