@import '~scss/colors';

.col-title {
  font-size: 120%;
  font-weight: 600;
}

.line {
  border-bottom: solid 1px $color-light-grey;
}

.q-icon {
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: $palette-1;
  }
}

.t-3 {
  transition: 0.5s;
}

.o-0 {
  opacity: 0!important;
}
