@use 'scss/colors' as *;
@use 'scss/globals' as *;

.col-title {
  font-size: 120%;
  font-weight: 600;
}

.line {
  border-bottom: solid 1px $color-light-grey;
}

.q-icon {
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: $palette-1;
  }
}

.t-3 {
  transition: 0.4s;
}

.o-0 {
  opacity: 0!important;
}

.result-card {
  cursor: pointer;
  padding: 10px 0;
  box-shadow: 0px 2px 6px 1px rgba(102,102,102,0.2);
  border-radius: $border-radius;
  background: white;
  // border: 1px solid $color-light-grey;
  transition: 0.3s;

  &:hover {
    $shadow: 170;
    box-shadow: 0px 3px 8px 3px rgba($shadow,$shadow,$shadow,0.45);
  }

  a {
    border-bottom: 1px solid transparent;
    transition: 0.3s;
    color: $palette-1-dark;
    font-weight: 500;
    font-size: 110%;

    &:hover {
      border-color: $palette-1;
      text-decoration: none;
    }
  }
}

.gene-hint {
  transition: 0.3s;
  opacity: 0;
  font-size: 85%;
  font-weight: 500;

  &.active {
    opacity: 1;
  }
}
