@import '~scss/colors';
@import '~scss/globals';

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: $text-main;
  background: #fdfdfd;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

.kbl-table {
  overflow: hidden;
  border-radius: $border-radius;
  box-shadow: 0 .0925rem .165rem rgba(0, 0, 0, 0.19);
  border: none;

  .kbl-thead {
    background: $palette-2;
    border-bottom: 1px solid $color-light-grey;
    color: white;

    /*
    .top th:first-child {
      border-radius: 10px 0 0 0;
    }

    .top th:last-child {
      border-radius: 0 10px 0 0;
    }

    .bottom {
      th:first-child {
        border-radius: 0 0 0 10px;
      }

      th:last-child {
        border-radius: 0 0 10px 0;
      }

      margin-bottom: 10px;
     
    }*/

    .human {
      background: $palette-2-dark;
    }

    .bottom {
      color: $text-main;

      .light {
        background: $palette-2-light;
      }

      .dark {
        background: $palette-2-bg;
      }
    }
  }

  tr {
    border-bottom: 1px solid $color-light-grey;

    &:last-child {
      border-bottom: none!important;
    }

    &:hover td {
      transition: 0.3s;
      background: #f3f3f3;
    }
  }
}

.table-responsive {
  padding: 5px 2px;
  border: none;
}
